.btn {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  border: none;
  color: aliceblue;
  background-color: rgb(68, 79, 154);
  width: 120px;
  height: 40px;
  margin: 0 auto;
}
.text {
  font-size: 24px;
  font-weight: 600;
}
